/* .grid-container-area{
    display: grid;
    height: 100vh;

    grid-template-columns: 1fr 3fr;

    grid-template-rows: 2fr 2fr 2fr;

    grid-template-areas: 
        "header header header"
        "sidebar content content"
        "sidebar footer footer"
    ;
    gap: 4px;
}  */

/* .header {
    grid-area: header;
    background-color: blue;
}
.sidebar {
    grid-area: sidebar;
    background-color: blueviolet;
}
.content {
    grid-area: content;
    background-color: aqua;
}
.footer {
    grid-area: footer;
    background-color: cornflowerblue;
} */

/* .grid-container-lines{
    display: grid;

    grid-auto-columns: 1fr;
    grid-auto-rows: 100px;
}

.box {
    background-color: red;
    border: 1px solid;
}

.box1 {
    grid-area: 1 / 1 / 2 / 3;
}

.box2 {
    grid-area: 2 / 1 / 3 / 2;
}

.box3 {
    grid-area: 2 / 2 / 3 / 3;
} */

.flex-container-row {
    display: flex;

    flex-direction: column;

    background-color: fuchsia;
    border: 1px solid;
}

.box {
    background-color: purple;
    border: 1px solid green;
    padding: 10px;
    margin: 16px;
}